{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AZURE_STORAGE_CONNECTION_STRING": "UseDevelopmentStorage=true",
    "LOCAL_FEEDS_PATH": "../../data/feeds"
  }
}
